#chat-screen {
	background-color: #abc1d1;
	height: 500vh;
}
#chat-screen .status-bar {
	background-color: #abc1d1;
	z-index: 2;
}
#chat-screen .alt-header {
	z-index: 1;
	background-color: #abc1d1;
	position: fixed;
	width: 100%;
	box-sizing: border-box;
	top: 0;
}

@keyframes fadeIn {
	from {
		transform: translateY(30px);
		opacity: 0;
	}
	to {
		transform: none;
		opacity: 1;
	}
}
.main-chat {
	margin-top: 120px;
	display: flex;
	flex-direction: column;
	align-items: center;
	animation: fadeIn 0.8s linear;
}

.chat__timestamp {
	padding: 8px 15px;
	color: white;
	background-color: rgba(0, 0, 0, 0.15);
	border-radius: 20px;
	font-size: 12px;
	font-weight: 300;
	margin-bottom: 20px;
}

.message-row {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	margin-bottom: 20px;
}

.message-row img {
	height: 40px;
	width: 40px;
	border-radius: 16px;
	margin-right: 10px;
}

.message__author {
	opacity: 0.6;
	font-size: 14px;
	margin-bottom: 10px;
	display: block;
}
.message__info {
	display: flex;
	align-items: flex-end;
}
.message__info__bubble {
	background-color: white;
	padding: 10px;
	border-radius: 12px;
	border-top-left-radius: 0px;
}

.message__info__time {
	margin: 0px 5px;
	font-size: 10px;
	opacity: 0.6;
}

@keyframes fadeInLeftToRight {
	from {
		opacity: 0;
		transform: translateX(-50px);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

.message-row .message__info {
	animation: fadeInLeftToRight 1s linear forwards;
}

@keyframes fadeInRightToLeft {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: none;
	}
}

.message-row--own .message__info {
	opacity: 0;
	animation: fadeInRightToLeft 1s linear forwards;
	animation-delay: 0.5s;
}

.message-row--own {
	justify-content: flex-end;
}

.message-row--own .message__info__bubble {
	background-color: #fee501;
	border-top-left-radius: 12px;
	border-top-right-radius: 0px;
}

.message-row--own .message__info {
	flex-direction: row-reverse;
}

.reply {
	position: fixed;
	bottom: 0;
	background-color: white;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 15px;
	box-sizing: border-box;
	transition: all 0.3s ease-in-out;
}
.reply .reply__column:first-child {
	width: 10%;
}

.reply .reply__column:last-child {
	width: 90%;
	position: relative;
}

.reply input {
	padding: 8px;
	width: 100%;
	border-radius: 25px;
	border: var(--main-border);
	background-color: #f8f8f8;
	box-sizing: border-box;
	transition: all 0.3s ease-in-out;
}

.reply__column:first-child i {
	opacity: 0.4;
}

.reply__column:last-child > i,
.reply__column:last-child button {
	position: absolute;
	right: 0;
	top: 3px;
}

.reply__column:last-child > i {
	top: 16px;
	right: 45px;
	opacity: 0.4;
}

.reply__column:last-child button {
	background-color: var(--yellow);
	border: none;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	right: 3px;
}

.reply__column:last-child button:focus,
.reply__column:last-child button:active {
	outline: none;
}

.reply .reply__column:first-child,
.reply .fa-face-smile-beam,
.reply button {
	transition: opacity 0.3s ease-in-out;
}
.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-face-smile-beam,
.reply:focus-within button {
	opacity: 0;
	visibility: hidden;
}

.reply input:focus {
	width: 95vw;
	transform: translateX(-10%) translateY(-80px);
}

.reply:focus-within {
	transform: translateY(80px);
}
