#friends-display-link {
	text-align: center;
	display: block;
	background-color: whitesmoke;
	padding: 12px 0px;
	font-size: 14px;
	margin-bottom: 10px;
	margin-top: -10px;
}

#friends-display-link i {
	opacity: 0.3;
}

.friends-screen__channel {
	margin-top: 20px;
	border-top: var(--main-border);
	padding-top: 10px;
}

.friends-screen__channel-header {
	opacity: 0.5;
	margin-bottom: 15px;
	font-size: 13px;
	display: flex;
	justify-content: space-between;
}

#splash-screen {
	background-color: var(--yellow);
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: hideSplashScreen 0.4s ease-in-out forwards;
	animation-delay: 1.5s;
}

#splash-screen i {
	font-size: 100px;
	color: #3c1d1e;
}

@keyframes hideSplashScreen {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		visibility: hidden;
	}
}
