.chat-badge {
	background-color: tomato;
	width: 18px;
	height: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 9px;
	color: white;
	font-weight: 600;
	font-size: 11px;
	left: 10px;
	bottom: 10px;
}

.more-badge {
	width: 4px;
	height: 4px;
	background-color: tomato;
	border-radius: 2px;
}

.more-badge__find-setting {
	position: absolute;
	left: 20px;
	bottom: 18px;
}
